h1,
h2,
a {
  color: inherit !important;
}

a {
  text-decoration: none !important;
}

section .container {
  min-height: $h-min;

  p {
    font-weight: 300;
  }
  & > i {
    font-size: $icons-size;
  }
  & h1 {
    text-transform: uppercase;
    font-weight: 400;

    span {
      font-weight: 500;
    }
  }
}

.btn {
  width: fit-content !important;
  text-transform: uppercase !important;
  border: none !important;

  & span {
    font-weight: 500 !important;
  }
}

.btn-custom-primary:hover {
  background-color: $custom-secondary !important;
}
.btn-custom-secondary:hover {
  background-color: $custom-primary !important;
}

//////////// Navigation ////////////

.navbar {
  padding: 2.1rem !important;
}

.navbar-nav {
  & .nav-link {
    text-transform: uppercase !important;
    font-weight: 500 !important;
  }
  & .nav-link:hover {
    color: $custom-primary !important;
  }
}

.dropdown-menu {
  border: none !important;
  border-radius: 0 !important;

  & .dropdown-item {
    text-transform: capitalize !important;
  }
  & .dropdown-item:hover {
    color: $custom-primary !important;
  }
}

.logo {
  max-width: 100px;
}

//////////// Carousel ////////////

.carousel {
  position: relative;

  &_social-icons {
    position: absolute;
    top: 20px;
    right: $custom-position;

    z-index: 5;

    & i {
      background-color: $black;
      padding: 0.3rem;
      border-radius: 50%;
      color: $white;
    }

    & i:hover {
      background-color: $custom-primary;
    }
  }
}

.slide {
  min-height: $h-min;
  background-size: cover;

  &_content {
    height: $h-min;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  & h1,
  p {
    width: fit-content;
    background-color: $custom-opacity-700;
    padding: 0.5rem 1.5rem;

    text-transform: capitalize;
  }
}

.owl-nav {
  position: absolute;
  bottom: 0;
  right: $custom-position;
  //   font-size: 6rem;
  color: $white;
  font-size: 5rem;

  display: flex;
  gap: 1rem;

  & button {
    margin: 0 !important;
  }

  & button:hover {
    background-color: transparent !important;
  }

  & button:focus {
    outline: none !important;
  }
}

// Offers section

.offers {
  position: relative;

  #offers_mountain-icon {
    position: absolute;
    bottom: -48px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
  }

  & a {
    position: relative;
    z-index: 10;
  }
}

// Make offer
.make-offer {
  &_gear-icon::before {
    animation: gearIconAnimation 5s infinite linear !important;
  }
}
@keyframes gearIconAnimation {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

// Packages
.packages {
  position: relative;
  background: url("../img/video-image.png") no-repeat;
  background-size: cover;
  background-attachment: fixed;

  .overlay {
    position: absolute;
    inset: 0;
    background-color: $custom-opacity-500;
  }

  &_container {
    position: relative;
    z-index: 10;
  }

  &_play {
    width: fit-content;
    margin: 0 auto;
    cursor: pointer;
    i {
      font-size: $icons-size + 2rem;

      &::before {
        transition: all 0.2s ease-in-out;
      }
    }

    &:hover i::before {
      transform: scale(1.1);
    }
  }
}

.modal-body {
  iframe {
    width: 100%;
    aspect-ratio: 16/9;
  }
}

// Articles
.articles {
  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  &_header {
    i {
      font-size: 2rem;
    }
  }

  &_content {
    margin-left: 2rem;
    text-align: left;

    h2 {
      text-transform: uppercase;
    }
    p,
    a {
      text-transform: capitalize;
    }
    a {
      text-decoration: underline !important;
    }
  }
}

// Newsletter
.newsletter {
  background: url("../img/clouds-img.png") no-repeat;
  background-size: cover;

  &_form {
    label {
      display: block;
      text-align: left;
      text-transform: capitalize;
      font-weight: 500;
    }

    input {
      width: 100%;
      display: block;
      border: 1px solid $white;
      background-color: transparent;
      padding: 0.5rem;

      &::placeholder {
        color: $white;
      }

      &:focus {
        outline: 2px solid $white;
      }
    }
    a {
      margin: 2rem 0;
    }
  }
}

// Footer
.footer {
  ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;

    margin: 2rem 0;

    li {
      list-style: none;
    }

    a {
      text-transform: capitalize;
    }

    a:hover {
      color: $custom-primary !important;
    }
  }

  &_credits {
    background-color: $custom-secondary;
    p {
      text-transform: capitalize;
      text-align: right;
      color: $white;
      font-weight: 300;

      padding: 1rem 0;
      margin: 0;

      img {
        width: 20px;
      }

      span {
        font-weight: 500;
      }
    }
  }
}
