h1,
h2,
a {
  color: inherit !important;
}

a {
  text-decoration: none !important;
}

section .container,
.container {
  width: 1170px !important;
}

section .container {
  min-height: $h-min;
}

.btn {
  width: fit-content !important;
  text-transform: uppercase !important;

  & span {
    font-weight: 500 !important;
  }
}

//////////// Navigation ////////////

.navbar {
  padding: 2.1rem !important;
}

.navbar-nav {
  & .nav-link {
    text-transform: uppercase !important;
    font-weight: 500 !important;
  }
  & .nav-link:hover {
    color: $custom-primary !important;
  }
}

.dropdown-menu {
  border: none !important;
  border-radius: 0 !important;

  & .dropdown-item {
    text-transform: capitalize !important;
  }
  & .dropdown-item:hover {
    color: $custom-primary !important;
  }
}

.logo {
  max-width: 100px;
}

//////////// Carousel ////////////

.carousel {
  position: relative;

  &_social-icons {
    position: absolute;
    top: 20px;
    right: $custom-position;

    z-index: 5;

    & i {
      background-color: $black;
      padding: 0.3rem;
      border-radius: 50%;
      color: $white;
    }

    & i:hover {
      background-color: $custom-primary;
    }
  }
}

.slide {
  min-height: $h-min;
  background-size: cover;

  &_content {
    height: $h-min;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  & h1,
  p {
    width: fit-content;
    background-color: $custom-opacity-700;
    padding: 0.5rem 1.5rem;

    text-transform: capitalize;
  }
}

.owl-nav {
  position: absolute;
  bottom: 0;
  right: $custom-position;
  //   font-size: 6rem;
  color: $white;
  font-size: 5rem;

  display: flex;
  gap: 1rem;

  & button {
    margin: 0 !important;
  }

  & button:hover {
    background-color: transparent !important;
  }

  & button:focus {
    outline: none !important;
  }
}

// Offers section

.offers {
  position: relative;

  #offers_mountain-icon {
    position: absolute;
    bottom: -48px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
  }

  &_container {
    i {
      font-size: $icons-size;
    }
  }

  & a {
    position: relative;
    z-index: 10;
  }
}
